extends layout
	

block content
  
		ul(class="nav nav-tabs")
			li.active
				a(href="./") Home
       
			li
				a(href="./disndat") Translator
			li
				a(href="./deck") Deck Rater   
			li
				a(href="./cat") Nyehan Cat
		h1= title
  
		p Welcome to #{title}

		a(href="./disndat") Goto the translator