extends layout
head
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  block content
	script.
		var input
    h1= title
    p Ya aint speakin english until Joey senpai teach ya da real brooklyn accent!
